body {
  background-color: #e8e9ea;
  font-family: 'Poppins', sans-serif;
}

.card {
  border-radius: 16px;
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
